.form {
  width: 30rem;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #3ad886;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.form-image {
  width: 80%;
  height: 14rem;
  margin-bottom: 0.25rem;
  border-color: black;
}

.form-button-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem 0rem;
}

.form button {
  background-color: #ed6b5a;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  padding: 0.8rem;
  border-radius: 0.4rem;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  border: 0;
  cursor: pointer;
}
