@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-ExtraBold.ttf);
  font-weight: 900;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts\\OpenSans-SemiBold.ttf);
  font-weight: 500;
}

.app {
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 9.5rem;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
